* {
    box-sizing:border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    background:#0D0208;
    color:#008F11;
}

.title {
    border: solid 5px #008F11;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #008F11;
    background-color:#0D0208;
    color: #00FF41;
}

.title {
    padding: 20px;
    margin: auto 0;
}

.title-caption {
    border: solid 5px #008F11;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #008F11;
    background-color:#0D0208;
    color: #00FF41;
}

.title-caption {
    padding: 20px;
    margin: auto;
}

.body-title {
    font-size: 2em;
    font-weight:600;
    margin: 20px;
    padding: 20px;
}

.body-title {
    text-shadow:#00FF41;
    
}

.body-content {
    border: solid 5px #008F11;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #008F11;
    background-color:#0D0208;
    color: #00FF41;
}

.body-content {
    padding: 15px;
    margin: auto;
}

.sidebar {
    border: solid 5px #008F11;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #008F11;
    background-color:#0D0208;
    color: #00FF41;
}

.sidebar {
    padding: 15px;
    margin: auto;
}


.footer-content {
    border: solid 5px #008F11;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #008F11;
    background-color:#0D0208;
    color: #00FF41;
}

.footer-content {
    padding: 15px;
    margin: auto;
}



p {
    text-align: center;
}